<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="vsts" value="https://uipath.pkgs.visualstudio.com/_packaging/nuget-packages/nuget/v3/index.json" />
    <add key="ServiceCommon" value="https://uipath.pkgs.visualstudio.com/_packaging/ServiceCommon/nuget/v3/index.json" />
    <add key="portal-onprem-Local" value="https://uipath.pkgs.visualstudio.com/_packaging/portal-onprem%40Local/nuget/v3/index.json" />
  </packageSources>
    <packageSourceCredentials>
    <vsts>
      <add key="Username" value="anything" />
      <add key="ClearTextPassword" value="%NUGET_PERSONAL_ACCESS_TOKEN%" />
    </vsts>
    <ServiceCommon>
      <add key="Username" value="anything" />
      <add key="ClearTextPassword" value="%NUGET_PERSONAL_ACCESS_TOKEN%" />
    </ServiceCommon>
    <portal-onprem-Local>
      <add key="Username" value="anything" />
      <add key="ClearTextPassword" value="%NUGET_PERSONAL_ACCESS_TOKEN%" />
    </portal-onprem-Local>
  </packageSourceCredentials>
</configuration>